.home-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 32px 48px 96px;
}

@media (min-width: 960px) {
  .home-wrapper {
    padding: 32px 64px 96px;
  }
}

@media (min-width: 1280px) {
  .home-wrapper {
    padding: 32px 0 96px;
    max-width: 1152px;
  }
}

.code-items {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.code-item {
  padding: 8px;
  width: 100%;
}

@media (min-width: 768px) {
  .code-item{
    width: calc(100% / 2);
  }
}

.sponsoring {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 4rem;
}

.sponsor {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  transition: color .25s,border-color .25s,background-color .25s;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid var(--vp-button-sponsor-border);
  color: var(--vp-button-sponsor-text);
  background-color: var(--vp-button-sponsor-bg);
}

.sponsor:hover {
  border-color: var(--vp-button-sponsor-hover-border);
  color: var(--vp-button-sponsor-hover-text);
  background-color: var(--vp-button-sponsor-hover-bg);
}